<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Dojos</title>
</head>
<body>
    <h1>New Dojo</h1>
    <form action="/create_dojo" method="post">
        <label for="name">Name: </label>
        <input type="text" name="name">
        <button type="submit">Create</button>
    </form>
    <h1>All Dojos</h1>
    <ul>
        {% for dojo in dojos %}
        <li><a href="dojos/{{ dojo.id }}">{{ dojo.name }}</a></li>
        {% endfor %}
    </ul>
    <a href="/ninjas">add ninja</a>
</body>
</html>